MONGODB_URI=mongodb+srv://sagarrajyadav2002:rFqPaCwZmHzeJxDT@sagar.pksyvqy.mongodb.net
PORT=8000

CORS_ORIGIN=*     

ACCESS_TOKEN_SECRET=chao-aur-code
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=chao-aur-backend
REFRESH_TOKEN_EXPIRY=10d